<div class="card shadow">
  <div class= "card-body">
    <div class="table-responsive">
      <%= month_calendar(events: @lessons, attribute: :start) do |date, lessons| %>
        <%= date %>

        <ul class="list-group">
          <% lessons.each do |lessons| %>
            <li class="list-group-item">
              <%= lessons.start.strftime("%H:%M") %> 
              <% unless @course.present?%>
                <br>
                Course:
                <%= link_to lessons.course_id, course_path(lessons.course)%>
              <% end %>
              <% unless @user.present?%>
                <br>
                User:
                <%= link_to lessons.user.email, user_path(lessons.user)%>
               <% end %>
              <% unless @classroom.present?%>
                <br>
                Clasroom:
                <%= link_to lessons.classroom.name, classroom_path(lessons.classroom)%>
              <% end %>
              <br>
              Start:
              <%= lessons.start.strftime("%H:%M")%>
              <%= status_label(lessons.status)%>
              <br>
               <ul class="list-group">
                 <li class="list-group-item">
                  <% lessons.attendances.each do |attendance| %>
                    <%= attendance.user %>
                    <%= attendance.status %>
                  <% end %>
                </li>
               </ul>
            </li>
          <% end %>
        </ul>
        
      <% end %>
    </div>
  </div>
</div>
